@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}
input[name=tab]{
  display: none;
}
.slide{
  position: relative;
  height: 100vh;
  overflow: hidden;
  
}
.slide-items{
  width: 300vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
}

.slide-items div{
  float: left;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.slide-items div:nth-child(1){
  background-image: url(/fk1z2z4n258sj229389n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-items div:nth-child(2){
  background-image: url(/rs95avjzv979zm7c6s21.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-items div:nth-child(3){
  background-image: url(/unnamed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.slide-items>div>h1{
  transform: translateY(-200px);
  transition: .5s;
  transition-delay: 0.5s;
  opacity: 0;
  color: #fff;
}
input[id=tab1]:checked ~ .slide .slide-items{
  left: 0;
  
}
input[id=tab2]:checked ~ .slide .slide-items{
  left: -100vw;
  
}
input[id=tab3]:checked ~ .slide .slide-items{
  left: -200vw;
  
}
.btn{
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
.btn label{
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  cursor: pointer;
}
input[id=tab1]:checked ~ .btn label[for=tab1]{
  background-color: #222;
}
input[id=tab2]:checked ~ .btn label[for=tab2]{
  background-color: #222;
}
input[id=tab3]:checked ~ .btn label[for=tab3]{
  background-color: #222;
}

input[id=tab1]:checked ~ .slide .slide-items>div:nth-child(1)>h1,
input[id=tab2]:checked ~ .slide .slide-items>div:nth-child(2)>h1,
input[id=tab3]:checked ~ .slide .slide-items>div:nth-child(3)>h1{
  transform: translateY(0px);
  opacity: 1;
}