@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

#wrap{
  width: 80%;
  margin: 0 auto;
}

#wrap > div{
  width: 80%;
  height: 100px;
  display: inline-block;
}

#wrap > div:nth-child(1){
  background-color: red;
}
#wrap > div:nth-child(2){
  background-color: blue;
}
#wrap > div:nth-child(3){
  background-color: green;
}
#wrap > div:nth-child(4){
  background-color: yellow;
}
#wrap > div:nth-child(5){
  background-color: black;
}
@media screen and (min-width:320px) {
  #wrap > div{
    width: 100%;
  }
}
@media screen and (min-width:768px) {
  
 #wrap > div{
    width: 49%;
  }
  #wrap > div:nth-child(5){
    width : 100%;
  }
}
@media screen and (min-width:1024px) {
 #wrap > div{
    width: 19%;
  }
  #wrap > div:nth-child(5){
    width: 19%;
  }
}