@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
.wrap {
    height: 100vh;
}
/*************헤더*******************/
header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header ul, li {
    margin:0;
    list-style: none;
}
header h1 {
    display: inline-block;
}
header nav {
    display: inline-block;
    float: right;
}
header a {
    text-decoration: none;
    color: black;
}

header li {
    margin-left: 15px;
    height: 50px;
    display: inline-block;
    text-align: center;

}


/************섹션*****************/

section{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "big1 big1 small1 middle1"
                       "big1 big1 small2 middle1"
                       "big1 big1 middle2 middle2"
                       "middle3 middle3 small3 small4"
                       "middle4 small5 big2 big2"
                       "middle4 small6 big2 big2"
                       "middle5 middle5 big2 big2";
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
section > div {
    background-image: url(https://via.placeholder.com/400x500);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.firstbox{
    grid-area: big1;
}
.textbox{
    text-align: center;
    position: absolute;
    width: 90%;
    bottom: 5%;
    left:0; right:0; margin-left:auto; margin-right:auto;
    padding: 10px;
    background-color: rgb(255,255,255,60%);
}

.topsmallbox{
    grid-area: small1;
}

.ononbox{
    grid-area: small2;
}

.toprightbox{
    grid-area: middle1;
}

.eventbox{
    grid-area: middle2;
}

.leftmiddlebox1{
    grid-area: middle3;
}

.rightmiddlebox1{
    grid-area: small3;
}
.rightmiddlebox2{
    grid-area: small4;
}

.sketch{
    grid-area: middle4;
}

.leftsmallbox1{
    grid-area: small5;
}

.leftsmallbox2{
    grid-area: small6;
}

.leftbottombox{
    grid-area: middle5;
}

.endbox{
    grid-area: big2;
}

/************* 푸터 *************/
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
    background-color: black;
    height: 50px;
    align-items: center;
}
footer nav {
    width: 300px;
}
footer nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

footer nav ul li{
    flex-wrap: wrap;
    justify-content: space-between;
}
footer p {
    color: #909090;
}
footer p span {
    color: aquamarine;
}
footer nav ul li a {
    color: aquamarine;
    text-decoration: none;
}
footer select {
    height: 25px;
}
