@charset "utf-8"


*{
  margin: 0;
  padding: 0;
}

.clear{
  clear: both;
}
#wrapper{
        width: 960px;
        margin: 0 auto;
    }
    header{            
        background-color: yellow;
        height: 350px;
        background-image: url(images/cafe1.PNG);
        background-size: cover;
    }
    nav{
        position: relative;
        text-align: center;
        height: 50px;
        /* opacity: 0.6; */
    }
    nav > div{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 50%;
    }
    nav > ul {
      position: absolute;
      height: 100%;
      width: 100%;
      list-style: none;
      
    }
    nav > ul > li{
        display: inline-block;
        width: 150px;
    }
    nav > ul  a{
        text-decoration: none;
        font-weight: bolder;
        color: white;            
    }
    section{
        padding: 30px 100px;
        
    }
    section > h1{
      margin-bottom: 20px;
    }
    .photo, .detail{
        width: 300px;
        height: 200px;            
        float: left;
        
        /* display: inline-block;
        vertical-align: top; */
    }
    .detail > p:nth-of-type(3){
      font-style: italic;
    }
    .photo{
        margin: 0 50px;
        
    }
    #info >.photo{
      background-image: url(images/cafe2.PNG);
      background-size: cover;
    }
    #map{
      background-color: rgb(221, 218, 213);
    }
    #map > .photo{
      background-image: url(images/map.PNG);
      background-size: cover;
    }
    #choice > .photo{
      border-radius: 50%;
      margin-left: 50px;
      margin-right: 0;
      background-image: url(images/cafe3.PNG);
      background-size: cover;
      
    }#choice > .detail{
      margin-left: 50px;
    }
    .detail > p{
      font-weight: bolder;
      margin-bottom: 10px;
    }
    
    footer{
        height: 100px;
        background-color: black;
        color: white;
        font-style: italic;
    }
    footer p{
      line-height: 100px;
      text-align: center;
    }
    section::after{
      content: "";
      display: block;
      clear: both;
      
    }