@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}

.wrap{
  display: flex;
}
.product > .detail{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  width: 250px;
  height: 200px;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: 170px;
  transition: .2s ease-in-out
}
.product{
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.detail > p{
  margin: 15px;
}
.product:hover .detail{
  opacity: 1;
  transform: translateY(-170px);
}