$color-primery: rgb(255, 89, 89);
$color-secondary: rgb(255, 164, 164);
$color-white: #fff;

$color-grey-light: #b9b9b9;
$color-grey-dark: #474747;

$color-pink-1: #ffd6d4;
$color-pink-2: #ffbab6;
$color-pink-3: #ffa1a1;
$color-pink-dark: #8d5858;
