* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background:#fff;
}

ul, li {
  list-style:none;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after {
  display:block;
  content:"";
  clear: both;
}
img {
  vertical-align: top;
  border: 0;
}

/* 기본 세팅값 */

.modal{
  width:100%;
  height:100%;
  position: fixed;
  background: rgba(0,0,0,0.7);
  z-index: 120; /* header의 z-index값보다 크게 설정*/
  display:none;
}
.modal_inner{
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  
}
.modal_tit {text-align: center; font-size: 28px; font-weight: 700;}
.modal_btn{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
}


#header{
  width:100%;
  height:100px;
  position: relative; /* z-index는 position이랑 같이 씀. */
  z-index: 100; /*유의할 것 */
  background:#00C73C;
}
#header .container {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  position: relative;
}
#header .logo{
  float: left;
  padding-top: 30px;
}
#header .nav_bg {
  position: absolute;
  top:100px;
  left: 0;
  width: 100%;
  height:180px;
  background-color: #4ce592;
  display:none;
}
#header .nav{
  float: right;
  width: 700px;
  padding-top: 30px;
  padding-right: 20px;
   
}
#header .nav>ul{
  width: 100%;
  text-align: center;
  padding-top: 20px;
  
}
#header .nav>ul>li{
  float:left;
  width:25%;
  height: 50px;
  line-height: 50px;
  position: relative;
  box-sizing: border-box;
  
  
}
#header .nav>ul>li>a{
  display:block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
#header .nav>ul>li:hover>a{
  background-color: rgb(83, 195, 130);
  color: #fff;
  font-weight: 700;
}
#header .nav>ul>li>.submenu{
  width:100%;
  position:absolute;
  top: 50px;
  left: 0px;
  display:none;
}
#header .nav>ul>li>.submenu>li{
  height: 40px;
  line-height: 40px;
  
}
#header .nav>ul>li>.submenu>li>a{
  display: block;
  font-size: 16px;
}
#header .nav>ul>li>.submenu>li:hover>a{
  background: rgba(0,0,0, 0.5);
  color: #fff;
}

.slide{
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  position:relative;
}
.slideList{
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  height: 100%;
}
.slideImg{
  width: 1200px; 
  height: 300px; 
  position: relative;
}
.slideImg h2{
  position: absolute; /*slideImg가 기준 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.4);
  color: #000;
  border-radius: 25px;
  padding: 10px;
}
.slideImg img{
  width:1200px;
  height:300px;
}

.contents{
  width: 1200px;
  margin: 0 auto;
  height: 200px;
}
.contents section{
  float: left;
}
.notice{
  width:500px;
  height:200px;
  position: relative;
}
.notice h2{
  position: absolute;
  top:0;
  left:0;
  font-size: 18px;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 0px 15px 0px 0px;
  background-color: rgba(38, 173, 48, 0.5);
  color: #fff;
}

.notice ul{
  width: 500px;
  height: 170px;
  position: absolute;
  top: 30px;
  left: 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.notice ul li{
  width: 500px;
  height: 30px;
  line-height: 30px;
}
.notice ul li a{
  width:500px;
  height:170px;
  font-size: 16px;
  display: block;
}
.notice >ul >li:hover {
  
  background-color: #00c73c;
}
.notice ul li .day{
  position: absolute;
  right: 10px;
  font-size: 12px;
  
}
.gal {
  width: 350px;
  height: 200px;
  position: relative;
  
}

.gal-tit{
  position: absolute; /*이미 h2에 입력되어 있어 생략 가능 */
  top:0;
  left:0;
  font-size: 18px;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 0px 15px 0px 0px;
  background-color: rgba(38, 173, 48, 0.5);
  color: #fff;
}
.gal li{
  margin-top: 50px;
  margin-left: 10px;
  float: left;
  width: 100px;
  height: 100px;
}
.gal ul li img {
  width: 100%;
  height: 100%;
}

.banner{
  width: 350px;
  height: 200px;
  position: relative;
}
.banner img{
  width: 100%;
  height: 100%;
}
.banner h3{
  position: absolute; /*banner가 기준 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(125, 255, 125, 0.4);
  color: #000;
  border-radius: 25px;
  padding: 10px;
}

.baro{
  width: 350px;
  height: 200px;
}
.baro img {
  width: 350px;
  height: 200px;
}

#footer{
  width:100%;
  height:100px;
  background:#737373;
  position: relative;
}


#footer .container {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}
.f_copy {
  width: 700px;
  height: 100px;
  float: left;
  padding: 30px;
  
}
.f_copy p {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  color: #aaa;
  text-align: center;
}
.f_right {
  width: 500px;
  height: 100px;
  float: left;
}
.f_sns {
  width: 100%;
  height: 50px;
}
.f_sns li {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
}
.f_fam {
  width: 100%;
  height:50px;
  padding-left: 370px;
}
.f_fam .f_family {
  padding: 10px;
  box-sizing:border-box;
}