@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}
.menu-icon {
  width: 50px;
  height: 30px;
  position: fixed;
  cursor: pointer;
  top: 30px;
  left: 30px;
  z-index: 10;
  
}
.menu-icon span {
  display: block;
  background: rgb(0, 0, 0);
  width: 40px;
  height: 4px;
  border-radius: 3px;
  transition: margin 0.2s, transform 0.25s 0.25s;
}
.menu-icon .bar1 {margin-bottom: 8px;}
.menu-icon .bar3 {margin-top: 8px;}


.menu-icon.active span {
  transition: margin 0.2s, transform 0.25s 0.25s;
}
.menu-icon.active .bar1 {
  margin-top: 8px;
  margin-bottom: -4px;
  transform: rotate(45deg);
}
.menu-icon.active .bar2 {
  transform: rotate(45deg);
  
}
.menu-icon.active .bar3 {
  margin-top: -4px;
  transform: rotate(135deg);
}

.menu{
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  overflow: hidden;
  padding: 80px 30px;
  transition: all .3s ease-in-out;
  z-index: 9;
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
}