@charset "utf-8";
html{
  scroll-behavior: smooth;
  overflow: hidden;
}
#wrap{
  width: 100%;
  height: 300vh;
  overflow: hidden;
  margin: 0 auto;
}
.top{
  width: 7rem;
  height: 7rem;
  border-radius: 3.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 10;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
  cursor: pointer;
}


/* 메인영역 */
#main{
  width: 100vw;
  height: 100vh;
  position: relative;
}
#main .main-bg,
#main .header,
#main .banner,
#main img{
  position: absolute;
}

#main .main-bg{
  width: 100vw;
  height: 100vh;
  /* overflow: hidden;
  position: fixed; */
}
/* #main .main-bg::before{
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: normal;
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
} */
#main .main-bg video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
/* 메인 - 헤더 */
#main .header{
  width: 100vw;
  height: 12rem;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .header h2 a{
  color: #fff;
  font-size: 4rem;
}
#main .header nav{
  display: flex;
  align-items: center;
}
#main .header nav a{
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  padding-left: 5rem;
}
#main .header nav a:nth-child(3){
  font-size: 4rem;
}
#main .header nav a:hover{
  transform: scale(1.2);
  color: rgb(221, 169, 49);
}
/* 메인-배너 */
#main .banner{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main .banner h1{
  color: #fff;
  font-size:8rem;
}
#main .banner h3{
  color: rgba(255, 255, 255, 0.8);
  font-size: 4rem;
  letter-spacing: 1.15rem;
}
#main .arrow{
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  animation-name: arrow-ani;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrow-ani {
  0%{
    bottom: 2rem;
  }
  50%{
    bottom: 7rem;
  }
  100%{
    bottom: 2rem;
  }
}

/* project 영역 */

#project{
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(44, 44, 44); */
  background: linear-gradient(180deg, #393a4d, #0e1033);
  
}
#project>h2{
  color: #fff;
  font-size: 7rem ;
  text-align: center;
  padding-top: 5rem;
}
#project .container{
  width: 100%;
  height: 80vh;
  position: relative;
}
#project .container .button{
  width: 64vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
#project .container .button button{
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
}
/* project - card */
#project .container .cardwrap{
  /* width: 300vw; */
  height: 80vh;
  position: absolute;
  display: flex;
}
#project .container .cardwrap .card{
  width: 50vw;
  height: 60vh;
  background-color: #fff ;
  border-radius: 4rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
  position: relative;
  top: 10vh;
  left: 0;
  /* left: 8.4%; */
  /* left: -11.4%; */
  margin-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-radius: 40px; */
  opacity: 0.4;
}
/* 카드 */
#project .container .cardwrap .card.on{
  opacity: 1;
}
#project .container .cardwrap .card .project-img{
  width: 40%;
  margin: 0 auto;
}
#project .container .cardwrap .card .project-text{
  width: 40%;
}
#project .container .cardwrap .card .project-text h2{
  font-size: 2.5rem;
}
#project .container .cardwrap .card .project-text p:nth-child(4){
  display: flex;
  align-items: center;
}
#project .container .cardwrap .card .project-text p:nth-child(4) span{
  font-size: 2.5rem;
  font-weight: 700;
}
#project .container .cardwrap .card .project-text p:nth-child(4) span:nth-child(2){
  font-size: 2rem;
  padding-left: 1rem;
}
#project .container .cardwrap .card .project-text p:nth-child(5){
  margin-top: 3rem;
}
#project .container .cardwrap .card .project-text p:nth-child(5) a{
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgb(221, 169, 49);
  cursor: pointer;
}
#project .container .cardwrap .card .project-text p{
  font-size: 2rem;
  margin-top: 2rem;
}

#project .container .cardwrap .card5{
  /*margin-right: 0;*/
}

/* CONTACT영역 */

#contact{
  width: 100%;
  height: 100vh;
  /* background-color: #222; */
  background: linear-gradient(180deg, #0e1033, #020217);
  position: relative;
}
#contact h2{
  color: #fff;
  font-size: 7rem ;
  text-align: center;
  padding-top: 5rem;
}
#contact .contact-wrap {
  width: 100%;
  height: 60vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}


/* 연락처 */
#contact .contact-wrap .contact-list{
  width: 25%;
  /* padding-right: 20px; */
}

#contact .contact-wrap .contact-list>h3{
  color: #fff;
  font-size: 5rem;
  padding-bottom: 3rem;
}
#contact .contact-wrap .contact-list p{
  color: #fff;
  width: 90%;
  font-size: 2.5rem;
  display: flex;
  padding-bottom: 3rem;
  align-items: center;
}
#contact .contact-wrap .contact-list p i{
  width: 4rem;
  font-size: 3rem;
  padding-right: 1rem;
  text-align: center;
}

/* 메일폼 */
#contact .contact-wrap .mail{
  width: 35%;
  height: 100%;
  
}

#contact .contact-wrap .mail .mailform{
  width: 100%;
  height: 100%;
}
#contact .contact-wrap .mail .mailform .gform{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: flex-end;
}
#contact .contact-wrap .mail .mailform .gform input::placeholder,
#contact .contact-wrap .mail .mailform .gform textarea::placeholder{
  font-size: 1.8rem;
  font-family: 'Roboto';
  color: rgb(165, 165, 165);
  padding-left: 1rem;
}
    
#contact .contact-wrap .mail .mailform .gform input:focus,
#contact .contact-wrap .mail .mailform .gform textarea:focus{
  outline: none;
}
#contact .contact-wrap .mail .mailform .gform input:nth-child(1){
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #555;
  font-family: 'Roboto';
  color: #fff;
  outline: none;
  border: none;
  padding-left: 1rem;
}
#contact .mail .mailform .gform input:nth-child(2){
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #555;
  font-family: 'Roboto';
  color: #fff;
  outline: none;
  border: none;
  padding-left: 1rem;
}
#contact .contact-wrap .mail .mailform .gform textarea{
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  background-color: #555;
  font-family: 'Roboto';
  color: #fff;
  font-size: 1.8rem;
  outline: none;
  border: none;
  resize: none;
  padding: 1rem;
}
#contact .contact-wrap .mail .mailform .gform button{
  width: 30%;
  height: 50px;
  box-sizing: border-box;
  background-color: #fff;
  background-color: #555;
  font-family: 'Roboto';
  color: #fff;
  font-size: 1.8rem;
  
}
/* 반응형 1024~1439 */
@media screen and (min-width:1024px) and (max-width:1439px) {
  html{
    font-size: 7.5px;
  }
}
/* 반응형 태블릿 */
@media screen and (min-width:768px) and (max-width:1023px) {
  html{
    font-size: 7px;
  }
  #project .container .button{
    width: 80vw;
  }
  #project .container .cardwrap .card{
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    }
  #project .container .cardwrap .card .project-img{
    width: 60%;
    padding-bottom: 2rem;
  }
  #project .container .cardwrap .card .project-text{
    width: auto;
    
  }
}
/* 반응형 -모바일 */
@media screen and (min-width:425px) and (max-width:767px) {
  html{
    font-size: 7px;
  }
  #main .header nav a{
    padding-left: 3rem;
  }
  #project .container .button{
    width: 95vw;
  }
  #project .container .cardwrap .card{
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    width: 65vw;
    left: 4.8%;
    }
  #project .container .cardwrap .card .project-img{
    width: 60%;
    padding-bottom: 2rem;
  }
  #project .container .cardwrap .card .project-text{
    width: auto;
  }
  #contact .contact-wrap{
    top: 20rem;
    transform: none;
    height: 80vh;
    flex-direction: column;
  }
  #contact .contact-wrap .contact-list{
    width: 100%;
  }
  #contact .contact-wrap .contact-list h3{
    display: none;
  }
  #contact .contact-wrap .contact-list p{
    width: 100%;
    justify-content: center;
  }
  #contact .contact-wrap .mail{
    width: 60%;
  }
}
